body {
    background-color: #262626;
    margin: 0;
}

#pageBody {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    min-height: 100vh;
    background-color: #252525;
    box-shadow: 0em 2em 10em 2em black;

    .profile-header {
        position: relative;
        width: 100%;
        max-height: 300px;
        /* Set the desired height for your banner */
        overflow: hidden;
    }

    .profile-banner {
        position: relative;
        width: 100%;
        max-height: 300px; /* Set the desired height for your banner */
        overflow: hidden;
    }
    
    .profile-banner img {
        width: 100%;
        height: auto;
        display: block;
    }

    .profile-picture {
        position: absolute;
        bottom: 10%;
        /* Adjust the positioning as needed */
        left: 20px;
        /* Adjust the positioning as needed */
        width: 10em;
        /* Set the desired width for your profile picture */
        height: 10em;
        /* Set the desired height for your profile picture */
        border: 2px solid #fff;
        /* Optional: Add a white border to the profile picture */
        border-radius: 50%;
        /* Make the profile picture round */
    }



}

#logo {
    font-family: PressStart2P;
}

#fakeNav {
    background-color: #151313;
    width: 100%;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.3), 0 0 30px rgba(255, 0, 255, 0.1);
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 0.1em rgb(153, 153, 153) outset;
    display: flex;
    flex-direction: row;
    justify-content: left;

    #logo {
        animation: cycle-color 3s linear infinite alternate;
        padding: 1em;
        font-family: PressStart2P;
    }

    #leftContainer {
        display: flex;
    }

    #search {
        .formContainer {
            display: flex;
            align-items: center;

            input {
                width: 20em;
            }
        }

        #input input {
            animation: cycle-color 3s linear infinite alternate;
            padding: 10px;
            border: 1px solid black;
            border-radius: 20px;
            color: #000000;
            background-color: rgb(49, 49, 49);
        }

        #input::placeholder {
            animation: cycle-color 3s linear infinite alternate;
        }

        input[type="text"]:focus {
            border: 1px solid black;
            animation: cycle-color 3s linear infinite alternate;
        }

        input[type="text"] {
            text-align: center;
        }

    }
}

@font-face {
    font-family: PressStart2P;
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
}

@keyframes cycle-color {
    0% {
        color: rgb(255, 0, 0);
        border-color: rgb(255, 0, 0);
    }

    16.6666% {
        color: rgb(255, 255, 0);
        border-color: rgb(255, 255, 0);
    }

    33.3333% {
        color: rgb(0, 255, 0);
        border-color: rgb(0, 255, 0);
    }

    50% {
        color: rgb(0, 255, 255);
        border-color: rgb(0, 255, 255);
    }

    66.6666% {
        color: rgb(0, 0, 255);
        border-color: rgb(0, 0, 255);
    }

    83.3333% {
        color: rgb(255, 0, 255);
        border-color: rgb(255, 0, 255);
    }

    100% {
        color: rgb(255, 0, 0);
        border-color: rgb(255, 0, 0);
    }
}